{{ define "main" }}
<main class="list-page">
  <!-- 記事一覧 -->

  {{- $pages := cond (eq .Kind `section`) .RegularPagesRecursive.ByDate.Reverse .Site.RegularPages.ByDate.Reverse }}
  {{- $paginator := .Paginate ($pages) }}
  
  <h1 class="list-page-header">投稿一覧</h1>
  {{- range $index, $page := $paginator.Pages }}
    <a class="entry-link" href="{{ .Permalink }}">
      {{ partial "article_card.html" . }}
    </a>
  {{- end }}

  <!-- ページネーション -->
  {{- if gt $paginator.TotalPages 1 }}
    <nav class="pagination">
      {{- if $paginator.HasPrev }}
      <a class="prev" href="{{ $paginator.Prev.URL }}">← 前の投稿</a>
      {{- end }}
      {{- if $paginator.HasNext }}
      <a class="next" href="{{ $paginator.Next.URL }}">次の投稿 →</a>
      {{- end }}
    </nav>
  {{- end }}
</main>
{{- end }}