{{ define "main" }}
<main class="main">
  <!-- 記事一覧 -->
  {{- $paginator := .Paginate (where .Site.RegularPages.ByDate.Reverse "Type" "post") }}
  
  <h2>投稿一覧</h2>
  {{- range $index, $page := $paginator.Pages }}
    <a class="entry-link" href="{{ .Permalink }}">
      {{ partial "article_card.html" . }}
    </a>
  {{- end }}

  <!-- ページネーション -->
  {{- if gt $paginator.TotalPages 1 }}
    <nav class="pagination">
      {{- if $paginator.HasPrev }}
      <a class="prev" href="{{ $paginator.Prev.URL }}">← 前の投稿</a>
      {{- end }}
      {{- if $paginator.HasNext }}
      <a class="next" href="{{ $paginator.Next.URL }}">次の投稿 →</a>
      {{- end }}
    </nav>
  {{- end }}
</main>
{{- end }}