{{ define "main" }}
<main class="main">
  <!-- 記事一覧 -->
  {{- $paginator := .Paginate (where .Site.RegularPages.ByDate.Reverse "Type" "post") 10 }}
  
  <h2>投稿一覧</h2>
  {{- range $index, $page := $paginator.Pages }}
    <article class="post-entry">
      <header class="entry-header">
        <h2>{{ .Title }}</h2>
      </header>
      <section class="entry-content">
      <p>{{ .Summary | plainify | htmlUnescape }}...</p>
      </section>
      <footer class="entry-footer">
        <time>{{ .Date.Format "2006-01-02" }}</time>
      </footer>
      <a class="entry-link" href="{{ .Permalink }}"></a>
    </article>
  {{- end }}

  <!-- ページネーション -->
  {{- if gt $paginator.TotalPages 1 }}
    <nav class="pagination">
      {{- if $paginator.HasPrev }}
      <a class="prev" href="{{ $paginator.Prev.URL }}">← 前の投稿</a>
      {{- end }}
      {{- if $paginator.HasNext }}
      <a class="next" href="{{ $paginator.Next.URL }}">次の投稿 →</a>
      {{- end }}
    </nav>
  {{- end }}
</main>
{{- end }}