{{ define "main" }}

<!-- 全ページのデータ -->
<script src="data.js"></script>

<main class="main">
  <!-- 検索バー -->
  <input type="text" class="search-bar" onkeyup="search(this.value)" autocomplete="off" autofocus placeholder="検索ワード" />
  <!-- 検索ワード -->
  <span id="inputWord"></span>
  <!-- 検索結果数 -->
  <span id="resultCount"></span>
  <!-- 結果 -->
  <div id="result"></div>
  
  <script>
  // 検索処理
  function search(query) {
    // 検索実行し、結果のHTMLを配列で取得
    var resultHtmls = searchData(query)
    // 結果を表示する
    updateSearchResults(resultHtmls)
    // 結果の件数を表示する
    updateSearchResultCount(resultHtmls.length, data.length)
  }
  
  function searchData(query) {
    var resultHtmls = [];
  
    query = query.trim();
    if (query.length < 1) {
      return resultHtmls;
    }

    var re = new RegExp(query, 'i');
    data.forEach(function({url, title, body, date}) {
      var pos = body.search(re)
      if (pos != -1) {
        var startPos = pos
        var endPos = pos + query.length
        var html = buildEntryHtml(url, title, body, date, startPos, endPos)
        resultHtmls.push(html)
      }
    })
    return resultHtmls
  }
  
  function buildEntryHtml(url, title, body, date, startPos, endPos) {
    return `
<div>
  <a href="${url}">
    <article class="post-entry">
    <header class="entry-header">
      <h2>${title}</h2>
    </header>
    <section class="entry-content">
      <p>${excerpt(body, startPos, endPos)}...</p>
    </section>
    <footer class="entry-footer">
      <time>${date}</time>
    </footer>
    </article>
  </a>
</div>
`
  }
  
  // 検索で見つけた場所を中心に文字列を切り出す
  function excerpt(body, startPos, endPos) {
    return [
      body.substring(startPos - 30, startPos),
      '<b>', body.substring(startPos, endPos), '</b>',
      body.substring(endPos, endPos + 200)
    ].join('')
  }
  
  // resultに結果を追加する
  function updateSearchResults(htmls) {
    var el = document.getElementById('result');
    el.innerHTML = htmls.join('');
  }
  
  // resultCountに結果を追加する
  function updateSearchResultCount(searchedResultCount, total) {
    var el = document.getElementById('resultCount');
    el.innerHTML = '<b>' + searchedResultCount + '</b> 件見つかりました（' + total + '件中）';
  }

  function getParsedQueryParams() {
    var query = window.location.search.substring(1);
    var params = query.split('&');
    var parsedParams = {}
    params.forEach(function(param) {
      var [key, value] = param.split('=');
      parsedParams[decodeURIComponent(key)] = decodeURIComponent(value)
    })
    return parsedParams
}

  window.onload = function() {
    var params = getParsedQueryParams()
    document.querySelector('.search-bar').value = params.query || ''
  }
  </script>
</main>

{{ end }}