{{ define "main" }}

<!-- 全ページのデータ -->
<script src="data.js"></script>

<main class="main">
  <input type="text" class="search-bar" onInput="search()" autocomplete="off" autofocus placeholder="検索ワード" />
  <div id="result-count"></div>
  <div id="result"></div>
  
  <script>
  function search() {
    var query = document.querySelector('.search-bar').value
    var resultHtmls = searchBy(query)
    updateSearchResults(resultHtmls)
    updateSearchResultCount(resultHtmls.length, data.length)
  }
  
  function searchBy(query) {
    query = query.trim()
    if (query.length < 1) return []

    var resultHtmls = []
    data.forEach(function({url, title, body, date}) {
      var pos = body.search(new RegExp(query, 'i'))
      if (pos != -1) {
        var startPos = pos
        var endPos = pos + query.length
        var html = buildEntryHtml(url, title, body, date, startPos, endPos)
        resultHtmls.push(html)
      }
    })
    return resultHtmls
  }
  
  function buildEntryHtml(url, title, body, date, startPos, endPos) {
    return `
<a href="${url}" style="margin-bottom: 20px;">
  <article class="post-entry">
  <header class="entry-header">
    <h2>${title}</h2>
  </header>
  <section class="entry-content">
    <p>${excerpt(body, startPos, endPos)}...</p>
  </section>
  <footer class="entry-footer">
    <time>${date}</time>
  </footer>
  </article>
</a>
`
  }
  
  // 検索で見つけた場所を中心に文字列を切り出す
  function excerpt(body, startPos, endPos) {
    return [
      body.substring(startPos - 30, startPos),
      '<b>', body.substring(startPos, endPos), '</b>',
      body.substring(endPos, endPos + 200)
    ].join('')
  }
  
  // resultに結果を追加する
  function updateSearchResults(htmls) {
    var el = document.getElementById('result');
    el.innerHTML = htmls.join('');
  }
  
  // resultCountに結果を追加する
  function updateSearchResultCount(searchedResultCount, total) {
    var el = document.getElementById('result-count');
    el.innerHTML = '<b>' + searchedResultCount + '</b> 件見つかりました（' + total + '件中）';
  }

  function getQueryParams() {
    var params = window.location.search.split(/(\?|&)/);
    var parsedParams = {}
    params.forEach(function(param) {
      var [key, value] = param.split('=');
      parsedParams[decodeURIComponent(key)] = decodeURIComponent(value)
    })
    return parsedParams
}

  window.onload = function() {
    var params = getQueryParams()
    document.querySelector('.search-bar').value = params.query || ''
    search()
  }
  </script>
</main>

{{ end }}